<html>
    <head>
        <title>MealMonkey | Meal Planning For You</title>
        <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="choosemeals.js"></script>
        <link rel="stylesheet" type="text/css" href="choosemeals.css">

    </head>
    <body class= "bigBody"ng-app='myApp' ng-controller="shoppingCart">
        <header><h1 id="pageTitle" >Pick Your Meals</h1></header>
        
        <h4 id="budgetRemaining">Remaining budgeted amount: ${{remaining}}</h4>
        <div class = "container">
            <div class="your-class">                
                <button ng-click="addItem('Burrito')">
                   <div class="slick-slide slide slide--has-caption">
                    <img src="http://images.media-allrecipes.com/userphotos/600x600/3469050.jpg" width=119% height=251% style="margin-left: -20px; margin-top: -52px; border-radius: 10px;">
                    <div class="caption">Mexican Lasagna II $12.53</div> </div>
                </button>
                <button ng-click="addItem('Pasta')">
                    <div class="slick-slide slide slide--has-caption">
                    <img src="http://images.media-allrecipes.com/userphotos/720x405/2606852.jpg" width=119% height=251% style="margin-left: -20px; margin-top: -52px; border-radius: 10px;">
                    <div class="caption">Shrimp Scampi with Pasta $24.29</div> </div>
                </button>
                <button ng-click="addItem('Chili')">
                    <div class="slick-slide slide slide--has-caption">
                    <img src="http://images.media-allrecipes.com/userphotos/720x405/1483386.jpg" width=119% height=251% style="margin-left: -20px; margin-top: -52px; border-radius: 10px;">
                    <div class="caption">Creamy White Chili $11.28</div> </div>
                </button>
            </div>
            <div class="your-class2">
                <button ng-click="addItem('Chicken')">
                    <div class="slick-slide slide slide--has-caption">
                    <img src="http://images.media-allrecipes.com/userphotos/720x405/2122115.jpg" width=119% height=251% style="margin-left: -20px; margin-top: -52px; border-radius: 10px;">
                    <div class="caption">Orange, Honey Chicken $15.56</div> </div>
                </button>
                <button disabled='true'></button>
                <button disabled='true'></button>
            </div>
        </div>
        <script
                src="http://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous">
        </script>
        <!--  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->
        <script type="text/javascript" src="slick/slick.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $('.your-class').slick({
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 3

                });
                $('.your-class2').slick({
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 3

                });
                $('.your-class3').slick({
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 3

                });

            });

        </script>
        <h3 id="cartHeader">Here is your cart:</h3>
        <div id="cartDiv" ng-repeat="x in cart">
            <input type="checkbox" ng-model="x.done"> <span ng-bind="x.Item"></span> ${{x.price}}
        </div>
        <div>
            <h4 id="total">Your total is: ${{total}}</h4>
            <button class="button" ng-click="remove()">Remove Selected Meals</button>
            <button class="button" ng-click="generateGroceryList()"><a href="#gList">Generate Grocery List</a></button>
        </div>

<br>
<br>
<br>
<br>
    <div id= "pg2">
        <div id ="gList">
            <h1>Grocery List</h1>
        
        </div>
        <br>
        <br>
        <h3 id="gListSub">We have generated this grocery list for you:</h3>
        <div id="finalDiv" ng-repeat="x in finalList">
            <span ng-bind="x.Item"></span> 
        </div>
        <h4 id= "totalCost">TOTAL: ${{totalCost}}</h4>

    </div>
    </body>
</html>