html{
    min-height: 100%;
    position: relative;
}

body{
    background: #fff;
    height: 100%;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
button{
    background: #FFF7C0
}

header{
        background:#069;
        width: 100%;
        text-align: center;
        margin:0;
        padding-right: 0px;
        padding-left: 0px;
        margin: 0px;
        border-bottom: solid thick black;
}

h1{
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        color:#fff;
}

h2{
        text-align: center;
}

#budgetRemaining {
    text-align: center;

}

#cartHeader {
    padding-left: 30px;
}

#cartDiv {
    padding-left: 30px;
}

#total {
    text-align: left;
    padding-left: 30px;
}

#gList {
    background:#069;
    width: 100%;
    text-align: center;
    margin:0;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 60px;
    margin: 0px;
    border-bottom: solid thick black;
}

#gListSub {
    padding-left: 30px;
}

#pg2 {
    position:relative;
    height: 1000px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}

#finalDiv{
    padding-left: 40px;
    font-weight: normal;
    font-size: 12px;
}

#totalCost{

    padding-left: 30px;
}

.button{
    background: #388965;
    color: white;
    margin-left: 30px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    width: 230px;
    height: 50px;
    border-radius: 30px;
    /*box-shadow: 0 1px;*/

}

.button a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.container {
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    height: 40%;
    color: #069;
    background: #fff; 
}

.slick-slide {
    text-align: center;
    color: #069;
    background: white;
    height: 45%;
    margin: 10px;
    position: relative;
}
.slick-slide:focus {
    outline-color: #fff;
    outline-width: thick;
};


.slide {
  position: relative;
}

.slide__caption {
  bottom: 0;
  min-height: 80px;
  left: 0;
  position: relative;
  width: 100%;
  z-index: 2;
}
.caption {
visibility: hidden;
position: absolute;
left: -12;
bottom: -50;
padding-top: 4px;
height: 30%;
width:114%;
background-color: rgba(255, 255, 255, .75);
text-align: center;
font-size: 2vh;
}

.slide--has-caption:hover .caption {
visibility: visible!important;
opacity: 1;
cursor: pointer;
pointer-events: none;
z-index: 2;
}